$jolt__colors: (
  "dark-blue": #003769,
  "green": #1BEA9A,
  "blue": #2472C2,
  "dark": #515151,
  "orage": #FDC200,
  "azure": #D3ECFE,
  "purple": #C500A8,
  "white": #fff,
  "gray": #EEF6FC
);


$breakpoints: (
  "xs": 0,
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px
);

$square-blue-img: url('../img/Group 877.png');
$square-top-white-img: url('../img/Group 931 - new.png');
